


body {
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-color: #837f8f; 
    background-image: url("./brick-wall-dark.png");
    justify-content: center;
    display: flex;
}
h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #4d7191;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
